
###> symfony/framework-bundle ###
/.DS_Store
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea
.docker-config/logs/*
!.docker-config/logs/.gitkeep
.docker-config/database/data/*
!.docker-config/database/data/.gitkeep
.docker-config/.DS_Store
.docker-config/database/.DS_Store
#phpstan.neon.dist
###< symfony/framework-bundle ###
